:root {
    scroll-behavior: smooth;
}

body {
    @apply bg-background-1;
    @apply text-text;
}

#home-atropos {
    min-width: calc(140vh * 1.65);
    min-height: 140vh;
    left: calc(50vw - 70vh * 1.65);
    top: -20vh;

    & > .atropos-scale > .atropos-rotate > * {
        @apply absolute inset-0 w-full h-full;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-background-2;
    @apply rounded-full;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-background-3;
}

.grecaptcha-badge {
    display: none;
}

h1 {
    @apply h1;
}

h2 {
    @apply h2;
}

h3 {
    @apply h3;
}

h4 {
    @apply h4;
}

h5 {
    @apply h5;
}

h6 {
    @apply h6;
}
