@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .shadow-glow-sm {
        box-shadow: 0 0 25px -12px var(--tw-shadow-color);
    }
    .shadow-glow-md {
        box-shadow: 0 0 50px -25px var(--tw-shadow-color);
    }
    .shadow-glow-lg {
        box-shadow: 0 0 100px -50px var(--tw-shadow-color);
    }

    .h1 {
        @apply text-4xl sm:text-5xl lg:text-6xl;
    }
    
    .h2 {
        @apply text-2xl sm:text-3xl lg:text-4xl;
    }
    
    .h3 {
        @apply text-lg sm:text-xl lg:text-2xl;
    }
    
    .h4 {
        @apply text-sm sm:text-base lg:text-lg;
    }
    
    .h5 {
        @apply text-xs sm:text-sm lg:text-base;
    }
    
    .h6 {
        @apply text-xxs sm:text-xs lg:text-sm;
    }
}
