@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-royal-blue-web-color: var(--royal-blue-web-color);
    --color-keppel: var(--keppel);
    --color-taupe-gray: var(--taupe-gray);
    --color-imperial-red: var(--imperial-red);

    --color-seasalt: var(--seasalt);
    --color-antiflash-white: var(--antiflash-white);
    --color-antiflash-white-2: var(--antiflash-white-2);
    --color-platinum: var(--platinum);
    --color-timberwolf: var(--timberwolf);

    --color-raisin-black: var(--raisin-black);
    --color-jet: var(--jet);
    --color-onyx: var(--onyx);
    --color-onyx-2: var(--onyx-2);
    --color-outer-space: var(--outer-space);


    --color-background0: var(--background0);
    --color-foreground0: var(--foreground0);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-background2: var(--background2);
    --color-foreground2: var(--foreground2);

    --color-background3: var(--background3);
    --color-foreground3: var(--foreground3);

    --color-background4: var(--background4);
    --color-foreground4: var(--foreground4);

    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    
    --color-alert: var(--alert);
    --color-alert-foreground: var(--alert-foreground);

    /*--border-width-base: var(--border-width);
    --border-width: calc(var(--border-width) + 1px);
    --border-width-2: calc(var(--border-width) + 2px);
    --border-width-4: calc(var(--border-width) + 4px);
    --border-width-8: calc(var(--border-width) + 8px);
    
    --border-radius-base: var(--border-radius);
    --border-radius-sm: calc(var(--border-radius) - 0.125rem);
    --border-radius: calc(var(--border-radius) + 0.25rem);
    --border-radius-md: calc(var(--border-radius) + 0.375rem);
    --border-radius-lg: calc(var(--border-radius) + 0.5rem);
    --border-radius-xl: calc(var(--border-radius) + 0.75rem);
    --border-radius-2xl: calc(var(--border-radius) + 1rem);
    --border-radius-3xl: calc(var(--border-radius) + 1.5rem);

    --shadow-base: 0 1px 2px 0 rgba(0, 0, 0, 0.01);
    --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    --shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
    --shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 1);
    --shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.01);*/
}

@utility theme-light {
    --background0: var(--seasalt);
    --foreground0: var(--raisin-black);

    --background: var(--antiflash-white);
    --foreground: var(--jet);

    --background2: var(--antiflash-white-2);
    --foreground2: var(--onyx);

    --background3: var(--platinum);
    --foreground3: var(--onyx-2);

    --background4: var(--timberwolf);
    --foreground4: var(--outer-space);

    --ring: var(--primary);
    --input: var(--muted);
    --border: var(--muted);

    --accent: var(--timberwolf);
    --accent-foreground: var(--primary);

    --muted: var(--timberwolf);
    --muted-foreground: var(--taupe-gray);

    --primary: var(--royal-blue-web-color);
    --primary-foreground: var(--antiflash-white);

    --secondary: var(--timberwolf);
    --secondary-foreground: var(--jet);

    --card: var(--background);
    --card-foreground: var(--foreground);

    --popover: var(--background);
    --popover-foreground: var(--foreground);

    --alert: var(--imperial-red);
    --alert-foreground: var(--foreground);
}

.theme-light {
    @apply scheme-light theme-light text-foreground;
}

@utility theme-dark {
    --background0: var(--raisin-black);
    --foreground0: var(--seasalt);

    --background: var(--jet);
    --foreground: var(--antiflash-white);

    --background2: var(--onyx);
    --foreground2: var(--antiflash-white-2);

    --background3: var(--onyx-2);
    --foreground3: var(--platinum);

    --background4: var(--outer-space);
    --foreground4: var(--timberwolf);

    --ring: var(--primary);
    --input: var(--muted);
    --border: var(--muted);

    --accent: var(--outer-space);
    --accent-foreground: var(--primary);

    --muted: var(--outer-space);
    --muted-foreground: var(--taupe-gray);

    --primary: var(--royal-blue-web-color);
    --primary-foreground: var(--antiflash-white);

    --secondary: var(--outer-space);
    --secondary-foreground: var(--antiflash-white);

    --card: var(--background);
    --card-foreground: var(--foreground);

    --popover: var(--background);
    --popover-foreground: var(--foreground);

    --alert: var(--imperial-red);
    --alert-foreground: var(--foreground);
}

.theme-dark {
    @apply scheme-dark theme-dark text-foreground;
}

:root {
    --royal-blue-web-color: #4b71d8ff;
    --keppel: #2ac1a8ff;
    --taupe-gray: #919295ff;
    --imperial-red: #f1414dff;

    --seasalt: #f8f9fbff;
    --antiflash-white: #f1f2f4ff;
    --antiflash-white-2: #e9eaedff;
    --platinum: #dddfe3ff;
    --timberwolf: #d1d3d6ff;

    --raisin-black: #242529ff;
    --jet: #303236ff;
    --onyx: #35373bff;
    --onyx-2: #3a3c40ff;
    --outer-space: #414449ff;

    --border-width: 0px;
    --border-radius: 0.25rem;

    @apply theme-light;
}

.dark {
    @apply theme-dark;
}
