@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    scroll-behavior: smooth;
}

body {
    @apply bg-background-1;
    @apply text-text;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-background-2;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-background-3;
}

.shadow-top {
    @apply shadow-[var(--tw-shadow-color)_0px_-5px_8px_0px];
}

.shadow-bottom {
    @apply shadow-[var(--tw-shadow-color)_0px_5px_8px_0px];
}
