@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    scroll-behavior: smooth;
}

body {
    @apply bg-background-1;
    @apply text-text;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .shadow-glow {
        box-shadow: 0 0 100px -50px var(--tw-shadow-color);
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-background-2;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-background-3;
}
